.header {
  width: 100;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.img {
  margin-left: 20px;
}

.header > nav {
  width: 600px;
  height: 100%;
}
.nav_items {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
  border-top: 1px solid #f1f3f6;
}

.header ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.header ul > li {
  font-size: 20px;
  height: 100%;
  display: flex;
  align-items: center;
}
